<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'Instagram.css' %}">
    <meta charset="utf-8">
    <title>Instagram</title>
  </head>
  <body>
    <img id='logo' src="{% static 'logo.png' %}" alt="logo">
    <div class="content">
      <div class="div-user">
        <input aria-describedby="" placeholder="Phone number, username, or email" aria-required="true" autocapitalize="off" autocorrect="off" maxlength="30" name="username" value="" type="text">
      </div>
      <div class="div-pass">
        <input aria-describedby="" placeholder="Password" aria-required="true" autocapitalize="off" autocorrect="off" name="password" value="" type="password">
      </div>

      <a id="forgot" href="#">Forgot password?</a>
      <div class="login">
        <button type="button" name="button" id="login">Log In</button>
      </div>

      <p>Don't have an account? <a href="" id="signup">Sign up</a></p>
    </div>
  </body>
</html>
